<div id="content">
    <div>
      <h3 style="text-align: center;">Your feedback is our most valuable assessment</h3>
      <form [formGroup]="feedbackFormGroup"  class="mat-elevation-z3">
        <table>
          <tr>
            <td><label for="name"><strong>What is the driving force behind taking the trip?</strong></label></td>
            <td><textarea formControlName="feedback1" name="message" id="message" cols="10" rows="5" required></textarea></td>
          </tr>
          <tr> 
            <td><label for="name"><strong>What is the most you liked about in the trip?</strong></label></td>
            <td><textarea formControlName="feedback2" name="message" id="message" cols="10" rows="5" required></textarea></td>
          </tr>
          <tr>
            <td><label for="subject"><strong>What can be improved or done better?</strong></label></td>
            <td><textarea formControlName="feedback3" name="message" id="message" cols="10" rows="5" required></textarea></td>
          </tr>
          <tr>
            <td><label for="subject"><strong>How likely you are to visit again?<br>(1 for highest and 5 for lowest)</strong></label></td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" formControlName="feedback4" value="1"> 
                <label>1</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback4" value="2">
                <label>2</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback4" value="3">
                <label>3</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback4" value="4">
                <label>4</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback4" value="5">
                <label>5</label>&nbsp; &nbsp; &nbsp; &nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="subject"><strong>How strongly you suggest this trip to others?<br>(1 for highest and 5 for lowest)</strong></label></td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" formControlName="feedback5" value="1"> 
                <label>1</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback5" value="2">
                <label>2</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback5" value="3">
                <label>3</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback5" value="4">
                <label>4</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback5" value="5">
                <label>5</label>&nbsp; &nbsp; &nbsp; &nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="subject"><strong>Rate the helping staff:<br>(1 for highest and 5 for lowest)</strong></label></td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" formControlName="feedback6" value="1"> 
                <label>1</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback6" value="2">
                <label>2</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback6" value="3">
                <label>3</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback6" value="4">
                <label>4</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback6" value="5">
                <label>5</label>&nbsp; &nbsp; &nbsp; &nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="subject"><strong>Rate your overall experience from the trip:<br>(1 for highest and 5 for lowest)</strong></label></td>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio" formControlName="feedback7" value="1"> 
                <label>1</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback7" value="2">
                <label>2</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback7" value="3">
                <label>3</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback7" value="4">
                <label>4</label>&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="radio" formControlName="feedback7" value="5">
                <label>5</label>&nbsp; &nbsp; &nbsp; &nbsp;
            </td>
          </tr>
          <tr>
            <td></td>
            <td><button mat-button (click) = "submitFeedbackForm()"> Submit </button> </td>
          </tr>
        </table>
      </form>
    </div>
  </div>

