<body>
    <div id="content">
        <div id="section">
          <div>
            <h1>Go Farm</h1>
            <p>Away from the buzz and noise of the city life,enjoy your living in the lush green Farms along with farm animals like cow, ducks, turkeys, hen, rabbits etc.
              Plan a unique on-farm experience for an hour or two, a morning, an afternoon or a whole day! </p>
              <br>
             <button mat-button (click) = "regForm()"> Register </button> 
            </div>
          <div id="figure"> <img src="assets/images/Untitled Diagram-Page-1.png" alt=""> </div>
          <span class="background"></span> </div>
          <div id="featured">
            <ul>
              <li class="first"><img src="assets/images/Untitled Diagram-Page-3.png" alt=""><span></span>
                <p>In a single day the farmers conduct an orchestra of activities: harvesting, hoeing, planting, working with children. The movement from one farm field to another includes a parade of farmers, trucks, tools, harvesting knives and bins. </p>
                <a class="link" routerLink="/home_page">One Day Farming</a> </li>
              <li> <img src="assets/images/Untitled Diagram-Page-4.png" alt=""><span></span>
                <p>Recycling organics for compost creates a useful product, something that gardeners, farmers will be able to use in order to grow things. Organic compost provides an alternative to chemical fertilizers, providing a benefit to the environment.</p>
                <a class="link" routerLink="/home_page">Organic Waste Recycling</a> </li>
              <li> <img src="assets/images/Untitled Diagram-Page-5.png" alt=""><span></span>
                <p>Animal husbandry helps in the proper management of animals by providing proper food, shelter and protection against diseases to domestic animals.It helps in developing high yielding breeds of animals by cross breeding.</p>
                <a class="link" routerLink="/home_page">Animal Husbandry</a> </li>
            </ul>
          </div>      
  </div>
  </body>


