<body>
<div id="content">
    <div>
      <div> <img style="margin-top: 2%; margin-left: 20%;"src="assets/images/map-in-grass2.jpg" alt=""><span></span> </div>
      <b class="first"><strong>FARMING STORY YOU WILL NEVER FORGET!</strong></b>
      <p>Go Farm is a new business idea to strengthen the connection between rural and urban people, grow farm visits, and provide a new agri-tourism income stream for farmers.</p>
      <p>Today, a visitor to a rural area has no easy way to visit a farm unless they have a personal connection to the farmer. 
        Go Farm ,online platform gives consumers the opportunity to book unique agricultural experiences directly with farmers  in areas they visit.</p>
       <b> TESTIMONIALS: </b> 
       <table cellspacing = "30" style="margin-top: 2%;">
       <tr>
         <td style="width: 30%;margin-left: 5%;vertical-align: top;">
        <mat-card style="background-color: white;">
          <mat-card-title>Sri Satya</mat-card-title>
          <mat-card-content>
            We tried different activities on a farm and ate great local home made food!
          </mat-card-content>
        </mat-card>
      </td>
      <td style="width: 30%;margin-left: 5%;">
        <mat-card style="background-color: white;">
          <mat-card-title>Neha</mat-card-title>
          <mat-card-content>
            Something completely different from what I usually do but would recommend to everyone.
          </mat-card-content>
        </mat-card>
      </td>
      <td style="width: 30%;margin-left: 5%;">
        <mat-card style="background-color: white;">
          <mat-card-title>Lana</mat-card-title>
          <mat-card-content>
            Great for solo travellers and families who want to show their kids how life on a farm looks like.
          </mat-card-content>
        </mat-card>
      </td>
      </tr>
      </table>
    </div>
  </div>
</body>