<body>
  <div id="header">
    <div>
      <div id="logo"> <img src="assets/images/Untitled Diagram-Page-2.png"> </div>
      <div id="navigation">
        <div>
          <ul>
            <li style="font-weight: 100;"><a routerLink="/home_page" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about_us">About us</a></li>
            <li><a routerLink="/contact_us">Contact Us</a></li>
            <li><a routerLink="/sign_in">'One Day Farming'</a></li>
            <li><a routerLink="/feedback">Feedback</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </body>

<router-outlet></router-outlet>