
button{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
#content {
	background: url("/assets/images/bg-headliner.gif") repeat top center;
	height: auto;
	width: 100%;
}

#content div {
	margin: 0 auto;
	padding: 0 0 40px;
	width: 950px;
}
#content div div, #content div.section div.figure {
	background: url("/assets/images/bg-image-higlight.jpg") no-repeat;
	float: right;
	margin-left: 45px;
	padding: 35px 0 0;
	position: relative;
	width: 614px;
}
#content div div span {
	background: url("/assets/images/bg-image-right-shadow.jpg") no-repeat bottom right;
	display: block;
	height: 16px;
	top: 347px;
	position: absolute;
	right: 0;
	width: 201px;
}
#content div p {
	line-height: 21px;
	margin: 0;
	padding-bottom: 25px;
	text-align: left;
	text-shadow: 1px 1px 0 #F4DCB6;
}
#content div b {
	color: #816221;
	text-shadow: 1px 1px 0 #F4DCB6;
}
#content div b.first {
	display: block;
	padding-top: 33px;
}

#content div h2 {
	color: #73541B;
	font-family: 'CarterOneRegular';
	font-size: 25px;
	margin: 0;
	padding: 25px 0 10px;
	text-shadow: 1px 1px 0 #C8B57D
}
#content div h3 {
	color: #73541B;
	font-family: 'CarterOneRegular';
	font-size: 23px;
	margin: 0;
	padding: 25px 0 10px;
	text-shadow: 1px 1px 0 #C8B57D
}
#content div h2 span {
	font-size: 20px;
	font-weight: normal;
}

#content div form {
	margin: 0 auto;
	width: 825px;
}
#content div table {
	margin-top: 30px;
}
#content div form table tr td input#name, #content div form table tr td input#email, #content div form table tr td input#subject {
	background: url("/assets/images/sprites-inputs.gif") no-repeat 0 -82px;
	border: 0;
	color: #FFFEFF;
	font-family: Arial;
	font-size: 12px;
	height: 38px;
	margin-left: 20px;
	padding: 0 5px;
	width: 259px;
}

#content div form table tr td select{
	background: url("/assets/images/sprites-inputs.gif") no-repeat 0 -82px;
	border: 0;
	font-family: Arial;
	font-size: 15px;
	height: 38px;
	margin-left: 20px;
	padding: 0 5px;
	width: 259px;
}

#content div form table tr td textarea#message, #content div form table tr td label.newsletter {
	margin-left: 20px;
}
#content div form table tr td input#send {
	background: url("/assets/images/sprites-buttons.gif") no-repeat 0 -258px;
	border: 0;
	height: 36px;
	margin-left: 193px;
	width: 96px;
}
#content div form table td {
	padding: 10px 0
}
#content div table tr td textarea {
	background: url("/assets/images/text-area.jpg") no-repeat;
	border: 0;
	color: #FFFEFF;
	font-family: Arial;
	font-size: 12px;
	height: 184px;
	padding: 5px;
	width: 715px;
}
#content div table tr td label span, #content div form div fieldset label span {
	color: #674d1c;
	font-family: Arial;
	font-size: 12px;
}
#content div form div fieldset label span {
	background: none;
	display: inline;
	height: auto;
	position: static;
	width: auto;
}
#content div table tr td label.email {
	font-weight: bold;
	margin-left: 115px;
	padding-top: 5px;
	vertical-align: sub;
}
#content div table tr td label input#newsletter, #content div table tr td label input#terms, #content div form div fieldset div label input#newsletter, #content div form div fieldset div label input#terms, #content div form div fieldset div label input#shipping, #content div form div fieldset div label input#saveas {
	vertical-align: middle;
}
#content div table tr td.message {
	vertical-align: top;
}
#content div form#register {
	margin-top: 30px;
	overflow: hidden;
	width: auto;
}
#content div form div {
	background: url("/assets/images/bg-form.jpg") no-repeat;
	float: left;
	height: 396px;
	margin: 0 0 0 24px;
	padding: 0;
	width: 463px;
}
#content div form div.first {
	margin-left: 0;
}
#content div form div fieldset {
	border: 0;
	margin: 20px auto;
	width: 386px;
}
#content div form div fieldset input.inputtext {
	background: url("/assets/images/sprites-inputs.gif") no-repeat 0 -42px;
	border: 0;
	height: 31px;
	margin: 10px 0;
	padding: 0 5px;
	width: 376px;
}
#content div form div fieldset input#city {
	background: url("/assets/images/sprites-inputs.gif") no-repeat 0 0;
	border: 0;
	height: 32px;
	margin: 10px 0;
	padding: 0 5px;
	width: 172px;
}
#content div form div fieldset label.zipcode {
	margin-left: 168px;
}
#content div form div fieldset input#zipcode {
	background: url("/assets/images/sprites-inputs.gif") no-repeat 0 0;
	border: 0;
	height: 32px;
	margin: 0 0 0 15px;
	padding: 0 5px;
	width: 172px;
}
#content div form div div {
	background: none;
	float: none;
	height: auto;
	margin-left: 0;
	margin-top: 33px;
	width: auto;
}
#content div form div div label.terms {
	padding-left: 15px;
}
#content div form input#createaccount {
	background: url("/assets/images/sprites-buttons.gif") no-repeat 0 -60px;
	border: 0;
	float: right;
	height: 36px;
	margin-top: 30px;
	width: 188px;
}

button{
    background-color: #216b20;
	margin-left: 30%;
	color: black;
}
